<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>dala</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="images/icons/dala.ico">
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/jquery-ui/all.css" />
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/jstree/style.min.css" />
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand" style="font-family: Pristina, Times, serif;margin-top:4px;">
                <img height="16" src="images/icons/dala.ico" style="margin-top:0px;float:left;" />&nbsp;&nbsp;dala
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- If logged out and backend connection -->
                <li class="loggedOut"><a href="#" id="loginButton">Login</a></li>
                <li class="loggedOut"><a href="#" id="registerButton">Register</a></li>
                <li class="loggedOut"><a href="#" id="settingButton">Settings</a></li>

                <!-- If logged in -->
                <li class="loggedIn"><a href="#">Help</a></li>

                <li class="dropdown loggedIn">
                    <a id="user-link" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"><b id="user-link-text">&nbsp</b> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Services</li>
                        <li><a href="#">Upgrade</a></li>
                        <li class="divider" role="separator"></li>
                        <li class="dropdown-header">User</li>
                        <li><a href="#" id="profileButton">Profile</a></li>
                        <li><a href="#" id="logoutButton">Logout</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>

{{{ body }}}

<!-- SCRIPTS -->
<script src="js/client.js"></script>
</body>
</html>
