<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar" style="padding:2px;">
            <div id="overviewBox">
                <h3>Overview</h3>
                <div style="width:100%;height:250px;background-color:#ffffff;">
                    <div id="viewbox" style="width:100%;height:250px;background-color:grey;opacity: 0.4;">
                        <div id="viewport" style="background-color:#ffffff;border:1px solid black;position:relative;">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div id="fileBrowser">
                <h3>Projects</h3>
                <div id="fileSystem"></div>
            </div>

            <div id="templateNav"></div>

            <div id="editNav" class="toolbox">
                <div id="editContent">
                    <div id="editTransition">
                        <h3>Edit Transition</h3>
                        <form action="#">
                            <fieldset>
                                <table>
                                    <tr>
                                        <th>Start Marker</th>
                                        <td>
                                            <select class="edit" name="startMarker" id="startMarker">
                                                <option data-class="marker-none" value="none">None</option>
                                                <option data-class="marker-arrow" value="arrow_s">Uni-directional</option>
                                                <option data-class="marker-triangle" value="triangle_s">Inheritance</option>
                                                <option data-class="marker-trianglefill" value="trianglefill_s">TriangleFill</option>
                                                <option data-class="marker-aggr" value="aggr_s">Aggregation</option>
                                                <option data-class="marker-comp" value="comp_s">Composition</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>End Marker</th>
                                        <td>
                                            <select class="edit" name="endMarker" id="endMarker">
                                                <option data-class="marker-none" value="none">None</option>
                                                <option data-class="marker-arrow" value="arrow">Uni-directional</option>
                                                <option data-class="marker-triangle" value="triangle">Inheritance</option>
                                                <option data-class="marker-trianglefill" value="trianglefill">TriangleFill</option>
                                                <option data-class="marker-aggr" value="aggr">Aggregation</option>
                                                <option data-class="marker-comp" value="comp">Composition</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr><th id="editSTIco"></th><td><input id="edit_ST" data-index="0" class="transTextEdit" type="text" ></td></tr>
                                    <tr><th id="editMTIco"></th><td><input id="edit_MT" data-index="2" class="transTextEdit" type="text" ></td></tr>
                                    <tr><th id="editETIco"></th><td><input id="edit_ET" data-index="4" class="transTextEdit" type="text" ></td></tr>
                                    <tr><th id="editSBIco"></th><td><input id="edit_SB" data-index="1" class="transTextEdit" type="text" ></td></tr>
                                    <tr><th id="editMBIco"></th><td><input id="edit_MB" data-index="3" class="transTextEdit" type="text" ></td></tr>
                                    <tr><th id="editEBIco"></th><td><input id="edit_EB" data-index="5" class="transTextEdit" type="text" ></td></tr>
                                </table>
                            </fieldset>
                        </form>
                    </div>
                    <div id="editNode">
                        <h3>Edit Node</h3>
                        <form id="editNodeForm" action="#">
                            <div id="editNodeContent"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="infoBox" class="toolbox">&nbsp</div>
        </div>



        <div class="col-sm-10 col-sm-offset-3  col-md-offset-2 main">
            <!-- Stage -->
            <!-- h5 class="page-header" style="padding-bottom: 0px;margin-bottom:10px">Document</h5 -->
            <div id="contentTabs">
                <ul>
                    <li><a href="#tabs-stage">Stage</a></li>
                    <li><a href="#tabs-2">Repository</a></li>
                    <li><a href="#tabs-3">Editor</a></li>
                </ul>
                <div id="tabs-stage">
                    <!-- STAGE TAB -->
                    <nav id="stageNav" class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <!-- <a class="navbar-brand" href="#">
                                   <img alt="Brand" src="images/icons/document_blue.png">
                                 </a> -->
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span> File <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#" id="file_new">New</a></li>
                                            <!-- TODO: move this to filehandler -->
                                            <li><a href="#" onclick="$('#openSVG').click()">Open</a></li>
                                            <li><a href="#" id="saveButton">Save</a></li>
                                            <li><a href="#">!Export!</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Diagram <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">!Preferences!</a></li>
                                            <li><a href="#" id="hideDocking">Hide Dockings</a></li>
                                            <li><a href="#" id="dragAlign">Drag Alignment</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#" id="zoomOut"><span class="glyphicon glyphicon-zoom-out"></span></a></li>
                                    <li><a href="#" id="zoomIn"><span class="glyphicon glyphicon-zoom-in"></span></a></li>
                                    <li><a href="#" id="viewXML"><span>{SVG}</span></a></li>

                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a id="downloadDiagram" href="#" download="diagram.xml"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Download</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                    <!-- The min-height:0 fixes the jquery offset accurency problem, don't ask why ;)-->
                    <div id="diagramStage">
                        <ul id="stageTabs">
                        </ul>
                    </div>
                </div>
                <div id="tabs-2">
                    <!-- object data="/test/asdf.pdf" type="application/pdf" width="100%" height="100%">

                        <p>It appears you don't have a PDF plugin for this browser.
                            No biggie... you can <a href="/test/asdf.pdf">click here to
                                download the PDF file.</a></p>

                    </object -->
                </div>
                <div id="tabs-3">
                    <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
                    <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
                </div>

                <!-- File Open Input  -->
                <div style="display:none">
                    <input type="file" id="openSVG" name="files[]"/>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- XML View Dialog -->
<div id="xml-view" style="overflow:hidden;" title="SVG View">
    <textarea style="width:100%;height:100%; resize: none;"></textarea>
</div>

<!-- Login Settings Dialog -->
<div id="login-dialog" title="Login">
    <form>
        <fieldset>
            <label for="host">Email</label>
            <input type="text" name="email" id="login_email" class="text ui-widget-content ui-corner-all">
            <label for="password">Password</label>
            <input type="password" name="password" id="login_pw" class="text ui-widget-content ui-corner-all">
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<!-- Register Dialog -->
<div id="register-dialog" title="Register">
    <p class="validateTips">All form fields are required.</p>

    <form>
        <fieldset>
            <label for="userName">Username</label>
            <input type="text" name="userName" id="reg_userName" class="text ui-widget-content ui-corner-all">
            <label for="email">Email</label>
            <input type="text" name="email" id="reg_email" class="text ui-widget-content ui-corner-all">
            <label for="password">Password</label>
            <input type="password" name="password" id="reg_password" class="text ui-widget-content ui-corner-all">

            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<!-- Backend Settings Dialog -->
<div id="setting-dialog" title="Setting">
    <h3>Backend Setting</h3>
    <form>
        <fieldset>
            <label for="backendhost">Host</label>
            <input type="text" name="firstname" id="backendhost" class="text ui-widget-content ui-corner-all">
            <label for="backendport">Port</label>
            <input type="text" name="port" id="backendport" class="text ui-widget-content ui-corner-all">
            <br /><br />
            <span>Status: <b id="backendConnectionTest"></b></span>
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<div id="new-project-dialog" title="Create Project">
    <form>
        <fieldset>
            <label for="title">Title</label>
            <input type="text" name="title" id="new-project-title" class="text ui-widget-content ui-corner-all">
            <label for="description">Description</label>
            <textarea name="description" id="new-project-description" class="ui-corner-all" style="width:100%;height:100px;"></textarea>
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<div id="new-diagram-dialog" title="Create New Diagram">
    <form>
        <fieldset>
            <label for="title">Title</label>
            <input type="text" name="title" id="new-diagram-title" class="text ui-widget-content ui-corner-all">
            <label for="project">Project</label>
            <input type="text" name="project" id="new-diagram-project" class="text ui-widget-content ui-corner-all" disabled="disabled">
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<script>
    var dala_env = dala_env || {};
    dala_env.initial_templates = {{{json initial_templates }}};
</script>

<script id="defs" type="text/template">
    <template>
        <svg class="tmpl_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <marker id="trianglefill_{diagramId}" viewBox="0 0 10 10" refX="10" refY="5" markerUnits="strokeWidth" markerWidth="10" markerHeight="10" orient="auto">
                    <path d="M 0 0 L 10 5 L 0 10 z"/>
                </marker>

                <marker id="trianglefill_s_{diagramId}" viewBox="0 0 10 10" refX="0" refY="5" markerUnits="strokeWidth" markerWidth="10" markerHeight="10" orient="auto">
                    <path d="M 0 5 L 10 0 L 10 10 z"/>
                </marker>

                <marker id="triangle_{diagramId}" viewBox="0 0 10 10" refX="10" refY="5" markerUnits="strokeWidth" markerWidth="10" markerHeight="10" orient="auto">
                    <path d="M 0 0 L 10 5 L 0 10 z" style="stroke:black;stroke-width:1;fill:white;" />
                </marker>

                <marker id="triangle_s_{diagramId}" viewBox="0 0 10 10" refX="0" refY="5" markerUnits="strokeWidth" markerWidth="10" markerHeight="10" orient="auto">
                    <path d="M 0 5 L 10 0 L 10 10 z" style="stroke:black;stroke-width:1;fill:white;" />
                </marker>

                <marker id="arrow_{diagramId}" viewBox="0 0 10 10" refX="10" refY="5" markerUnits="strokeWidth" markerWidth="10" markerHeight="10" orient="auto">
                    <path d="M 0 0 L 10 5 L 0 10" style="stroke:black;stroke-width:1;fill:none;" />
                </marker>

                <marker id="arrow_s_{diagramId}" viewBox="0 0 10 10" refX="0" refY="5" markerUnits="strokeWidth" markerWidth="10" markerHeight="10" orient="auto">
                    <path d="M 10 0 L 0 5 L 10 10" style="stroke:black;stroke-width:1;fill:none;" />
                </marker>

                <marker id="aggr_s_{diagramId}" viewBox="0 0 20 10" refX="0" refY="5" markerUnits="strokeWidth" markerWidth="20" markerHeight="10" orient="auto">
                    <path d="M 0 5 L 10 0 L 20 5 L 10 10 z" style="stroke:black;stroke-width:1;fill:white;"/>
                </marker>

                <marker id="aggr_{diagramId}" viewBox="0 0 20 10" refX="20" refY="5" markerUnits="strokeWidth" markerWidth="20" markerHeight="10" orient="auto">
                    <path d="M 0 5 L 10 0 L 20 5 L 10 10 z" style="stroke:black;stroke-width:1;fill:white;"/>
                </marker>
                <marker id="comp_s_{diagramId}" viewBox="0 0 20 10" refX="0" refY="5" markerUnits="strokeWidth" markerWidth="20" markerHeight="10" orient="auto">
                    <path d="M 0 5 L 10 0 L 20 5 L 10 10 z" style="stroke:none;stroke-width:1;fill:black;"/>
                </marker>

                <marker id="comp_{diagramId}" viewBox="0 0 20 10" refX="20" refY="5" markerUnits="strokeWidth" markerWidth="20" markerHeight="10" orient="auto">
                    <path d="M 0 5 L 10 0 L 20 5 L 10 10 z" style="stroke:none;stroke-width:1;fill:black;"/>
                </marker>
            </defs>
        </svg>
    </template>
</script>