<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar" style="padding:2px;">
            <div id="overviewBox">
                <h3>Overview</h3>
                <div style="width:100%;height:250px;background-color:#ffffff;">
                    <div id="viewbox" style="width:100%;height:125px;background-color:grey;opacity: 0.4;">
                        <div id="viewport" style="background-color:#ffffff;border:1px solid black;position:relative;">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div id="fileBrowser">
                <h3>Projects</h3>
                <div id="fileSystem"></div>
            </div>

            <div id="templateNav"></div>
        </div>



        <div class="col-sm-10 col-sm-offset-3  col-md-offset-2 main">
            <!-- Stage -->
            <!-- h5 class="page-header" style="padding-bottom: 0px;margin-bottom:10px">Document</h5 -->
            <div id="contentTabs">
                <ul>
                    <li><a href="#tabs-stage">Stage</a></li>
                    <li><a href="#tabs-svgTester">SVG-Test</a></li>
                    <li><a href="#tabs-3">Editor</a></li>
                </ul>
                <div id="tabs-stage">
                    <!-- STAGE TAB -->
                    <nav id="stageNav" class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <!-- <a class="navbar-brand" href="#">
                                   <img alt="Brand" src="images/icons/document_blue.png">
                                 </a> -->
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="seperator">&nbsp;</li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span> File <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#" id="file_new">New</a></li>
                                            <!-- TODO: move this to filehandler -->
                                            <li><a href="#" onclick="$('#openSVG').click()">Open</a></li>
                                            <li><a href="#" id="saveButton">Save</a></li>
                                            <li><a href="#">!Export!</a></li>
                                        </ul>
                                    </li>
                                    <li class="seperator">&nbsp;</li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Diagram <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">!Preferences!</a></li>
                                            <li><a href="#" id="hideDocking">Hide Dockings</a></li>
                                            <li><a href="#" id="dragAlign">Drag Alignment</a></li>
                                        </ul>
                                    </li>

                                    <!-- Diagram Menu -->
                                    <li id="nav-toggle-diagram" class="nav-toggle" data-nav-id="diagram-nav" title="diagram menu">&nbsp;</li>
                                    <li class="diagram-nav"><a href="#" id="diagram-zoomOut" title="zoom out (Ctrl + - (minus sign)"><span class="glyphicon glyphicon-zoom-out"></span></a></li>
                                    <li class="diagram-nav"><a href="#" id="diagram-zoomIn" title="zoom in (Ctrl + + (plus sign)"><span class="glyphicon glyphicon-zoom-in"></span></a></li>
                                    <li class="diagram-nav"><a href="#" id="diagram-move" title="move diagram (Shift + Drag)"><span class="glyphicon glyphicon-move"></span></a></li>
                                    <li class="diagram-nav"><a href="#" id="viewXML" style="font-size:0.8em;" title="svg view">{SVG}</a></li>
                                    <li class="menu-seperator">&nbsp;</li>

                                    <!-- Node Menu -->
                                    <li id="nav-toggle-node" class="nav-toggle" data-nav-id="node-nav" title="node menu">&nbsp;</li>
                                    <li class="node-nav"><a href="#" id="node-align" title="node alignment"><span class="glyphicon glyphicon-object-align-horizontal"></span></a></li>
                                    <li class="node-nav" style="display:flex;">
                                        <div>
                                            <label for="node-default-fill" style="margin:0px;height:15px;background:url('images/icons/icon-node-back.png')"></label>
                                            <input id="node-default-fill" type="color" title="background color" />
                                        </div>
                                    </li>
                                    <li class="node-nav" style="display:flex;">
                                        <div style="flex-wrap:wrap;">
                                            <label for="node-stroke" style="margin:0px;height:15px;background:url('images/icons/icon-node-border.png')"></label>
                                            <input id="node-stroke" type="color" title="stroke color" />
                                        </div>
                                    </li>
                                    <li id="node-dash" class="node-nav" title="node dash" style="padding-top:2px;">
                                        <select id="node-dash-select" style="width:85px;">
                                            <option value="none" title="images/icons/icon-dash-none.png"></option>
                                            <option value="5,5" title="images/icons/icon-dash-1.png"></option>
                                            <option value="10,10" title="images/icons/icon-dash-2.png"></option>
                                            <option value="3,5" title="images/icons/icon-dash-3.png"></option>
                                            <option value="5,2" title="images/icons/icon-dash-4.png"></option>
                                            <option value="20,10,5,5,5,10" title="images/icons/icon-dash-5.png"></option>

                                        </select>
                                    </li>
                                    <li id="node-stroke-width" class="node-nav" title="stroke width" style="padding-right:1px;">
                                        <label for="node-stroke-width-input" style="margin:0px;height:20px;background:url('images/icons/icon-stroke-width.png')"></label>
                                        <select id="node-stroke-width-input" style="width:34px;">
                                            <option value='1'>1</option>
                                            <option value='2'>2</option>
                                            <option value='3'>3</option>
                                            <option value='4'>4</option>
                                            <option value='5'>5</option>
                                            <option value='6'>6</option>
                                            <option value='7'>7</option>
                                            <option value='8'>8</option>
                                            <option value='9'>9</option>
                                            <option value='10'>10</option>
                                            <option value='11'>11</option>
                                            <option value='12'>12</option>
                                            <option value='13'>13</option>
                                            <option value='14'>14</option>
                                            <option value='15'>15</option>
                                        </select>
                                    </li>
                                    <li class="menu-seperator">&nbsp;</li>

                                    <!-- Node Transition -->
                                    <li id="nav-toggle-transition" class="nav-toggle" data-nav-id="transition-nav" title="transition menu">&nbsp;</li>
                                    <li id="transition-type-straight" class="nav-button transition-nav menu-box transitionTypeOption" data-type="straight" title="straight transition">&nbsp;</li>
                                    <li id="transition-type-round" class="nav-button transition-nav menu-box transitionTypeOption" data-type="round" title="round transition">&nbsp;</li>
                                    <li id="transition-type-curved" class="nav-button transition-nav menu-box transitionTypeOption" data-type="curved" title="curved transition">&nbsp;</li>
                                    <li class="transition-nav">
                                        <div>
                                            <label for="transition-default-stroke" style="margin:0px;height:15px;background:url('images/icons/icon-node-border.png')"></label>
                                            <input id="transition-default-stroke" type="color" title="color" />
                                        </div>
                                    </li>
                                    <li id="transition-marker-start" class="transition-nav" title="start marker" style="padding-top:2px;">
                                        <select name="transion-marker-start-select" id="transion-marker-start-select" data-type="start" style="width:60px;" class="transition-marker-select">
                                            <option value="none" title="images/icons/icon-marker-none.png"></option>
                                            <option value="arrow_s" title="images/icons/icon-marker-arrow-rtl.png" value="none"></option>
                                            <option value="triangle_s" title="images/icons/icon-marker-triangle-rtl.png" value="none"></option>
                                            <option value="trianglefill_s" title="images/icons/icon-marker-trianglefill-rtl.png" value="none"></option>
                                            <option value="aggr_s" title="images/icons/icon-marker-aggr.png" value="none"></option>
                                            <option value="comp_s" title="images/icons/icon-marker-comp.png" value="none"></option>
                                        </select>
                                    </li>
                                    <li id="transition-dash" class="transition-nav" title="transition dash" style="padding-top:2px;">
                                        <select name="transition-dash-select" id="transition-dash-select" style="width:85px;">
                                            <option value="none" title="images/icons/icon-dash-none.png"></option>
                                            <option value="5,5" title="images/icons/icon-dash-1.png"></option>
                                            <option value="10,10" title="images/icons/icon-dash-2.png"></option>
                                            <option value="3,5" title="images/icons/icon-dash-3.png"></option>
                                            <option value="5,2" title="images/icons/icon-dash-4.png"></option>
                                            <option value="20,10,5,5,5,10" title="images/icons/icon-dash-5.png"></option>

                                        </select>
                                    </li>
                                    <li id="transition-marker-end" class="transition-nav" title="end marker" style="padding-top:2px;">
                                        <select name="transion-marker-end-select" id="transion-marker-end-select" data-type="end" style="width:60px;" class="transition-marker-select">
                                            <option value="none" title="images/icons/icon-marker-none.png"></option>
                                            <option value="arrow" title="images/icons/icon-marker-arrow.png" value="none"></option>
                                            <option value="triangle" title="images/icons/icon-marker-triangle.png" value="none"></option>
                                            <option value="trianglefill" title="images/icons/icon-marker-trianglefill.png" value="none"></option>
                                            <option value="aggr" title="images/icons/icon-marker-aggr.png" value="none"></option>
                                            <option value="comp" title="images/icons/icon-marker-comp.png" value="none"></option>
                                        </select>
                                    </li>
                                    <li id="transition-stroke-width" class="transition-nav" title="stroke width" style="padding-right:1px;">
                                        <label for="transition-stroke-width-input" style="margin:0px;height:20px;margin-bottom:1px;background:url('images/icons/icon-stroke-width.png')"></label>
                                        <select id="transition-stroke-width-input" style="width:34px;">
                                            <option value='1'>1</option>
                                            <option value='2'>2</option>
                                            <option value='3'>3</option>
                                        </select>
                                    </li>
                                    <li class="menu-seperator">&nbsp;</li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a id="downloadDiagram" href="#" download="diagram.xml"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Download</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                    <!-- The min-height:0 fixes the jquery offset accurency problem, don't ask why ;)-->
                    <div id="diagramStage">
                        <ul id="stageTabs">
                        </ul>
                    </div>
                </div>
                <div id="tabs-svgTester">
                    <div id="svgTester" title="SVG Test" style="height:700px;">
                        <textarea id="svgTestInput" style="width:100%;height:100px;" spellcheck="false"></textarea>
                        <div id="svgTestStage" style="height:600px;"></div>
                    </div>
                </div>
                <div id="tabs-3">
                    <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
                    <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
                </div>

                <!-- File Open Input  -->
                <div style="display:none">
                    <input type="file" id="openSVG" name="files[]"/>
                </div>


            </div>
        </div>
    </div>
</div>

<div id="diagramToolTip">
    <div id="editTransitionPanel" class="toolTipPanel" title="Edit">
        <h3>Edit Transition</h3>
        <div id="editTransitionSection" class="toolTipSection">
            <form action="#">
                <fieldset>
                    <legend>Marker</legend>
                    <label for="startMarker">Start:</label>
                    <select class="edit" name="startMarker" id="startMarker">
                        <option data-class="marker-none" value="none">None</option>
                        <option data-class="marker-arrow" value="arrow_s">Uni-directional</option>
                        <option data-class="marker-triangle" value="triangle_s">Inheritance</option>
                        <option data-class="marker-trianglefill" value="trianglefill_s">TriangleFill</option>
                        <option data-class="marker-aggr" value="aggr_s">Aggregation</option>
                        <option data-class="marker-comp" value="comp_s">Composition</option>
                    </select>
                    <label for="endMarker">End:</label>
                    <select class="edit" name="endMarker" id="endMarker">
                        <option data-class="marker-none" value="none">None</option>
                        <option data-class="marker-arrow" value="arrow">Uni-directional</option>
                        <option data-class="marker-triangle" value="triangle">Inheritance</option>
                        <option data-class="marker-trianglefill" value="trianglefill">TriangleFill</option>
                        <option data-class="marker-aggr" value="aggr">Aggregation</option>
                        <option data-class="marker-comp" value="comp">Composition</option>
                    </select>
                </fieldset>
                <fieldset>
                    <legend>Style</legend>
                    <label for="transitionType">Type:</label>
                    <select class="edit" name="transitionType" id="transitionType">
                        <option value="straight">line</option>
                        <option value="curved">curved</option>
                        <option value="round">round</option>
                    </select>
                </fieldset>
                <fieldset>
                    <legend>Text</legend>
                    <label id="editSTIco" class="ttextPositionLabel" for="edit_ST">&nbsp;</label>
                    <input id="edit_ST" data-index="0" class="ttextPositionInput" type="text" >
                    <br />
                    <label id="editSBIco" class="ttextPositionLabel" for="edit_SB">&nbsp;</label>
                    <input id="edit_SB" data-index="1" class="ttextPositionInput" type="text" >
                    <br />
                    <label id="editMTIco" class="ttextPositionLabel" for="edit_MT">&nbsp;</label>
                    <input id="edit_MT" data-index="2" class="ttextPositionInput" type="text" >
                    <br />
                    <label id="editMBIco" class="ttextPositionLabel" for="edit_MB">&nbsp;</label>
                    <input id="edit_MB" data-index="3" class="ttextPositionInput" type="text" >
                    <br />
                    <label id="editETIco" class="ttextPositionLabel" for="edit_ET">&nbsp;</label>
                    <input id="edit_ET" data-index="4" class="ttextPositionInput" type="text" >
                    <br />
                    <label id="editEBIco" class="ttextPositionLabel" for="edit_EB">&nbsp;</label>
                    <input id="edit_EB" data-index="5" class="ttextPositionInput" type="text" >
                </fieldset>
            </form>
        </div>
    </div>
    <div id="editNodePanel" class="toolTipPanel">
        <h3>Edit Node</h3>
        <div id="editNodeSection" class="toolTipSection"><!-- will be created dynamically--></div>
    </div>

    <div id="infoBox" class="ui-corner-all ui-widget-content">&nbsp</div>
</div>

<!-- XML View Dialog -->
<div id="dom-view" style="overflow:hidden;" title="SVG View">
    <textarea style="width:100%;height:100%; resize: none;"></textarea>
</div>

<!-- Login Settings Dialog -->
<div id="login-dialog" title="Login">
    <form>
        <fieldset>
            <label for="host">Email</label>
            <input type="text" name="email" id="login_email" class="text ui-widget-content ui-corner-all">
            <label for="password">Password</label>
            <input type="password" name="password" id="login_pw" class="text ui-widget-content ui-corner-all">
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<!-- Register Dialog -->
<div id="register-dialog" title="Register">
    <p class="validateTips">All form fields are required.</p>

    <form>
        <fieldset>
            <label for="userName">Username</label>
            <input type="text" name="userName" id="reg_userName" class="text ui-widget-content ui-corner-all">
            <label for="email">Email</label>
            <input type="text" name="email" id="reg_email" class="text ui-widget-content ui-corner-all">
            <label for="password">Password</label>
            <input type="password" name="password" id="reg_password" class="text ui-widget-content ui-corner-all">

            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<!-- Backend Settings Dialog -->
<div id="setting-dialog" title="Setting">
    <h3>Backend Setting</h3>
    <form>
        <fieldset>
            <label for="backendhost">Host</label>
            <input type="text" name="firstname" id="backendhost" class="text ui-widget-content ui-corner-all">
            <label for="backendport">Port</label>
            <input type="text" name="port" id="backendport" class="text ui-widget-content ui-corner-all">
            <br /><br />
            <span>Status: <b id="backendConnectionTest"></b></span>
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<div id="new-project-dialog" title="Create Project">
    <form>
        <fieldset>
            <label for="title">Title</label>
            <input type="text" name="title" id="new-project-title" class="text ui-widget-content ui-corner-all">
            <label for="description">Description</label>
            <textarea name="description" id="new-project-description" class="ui-corner-all" style="width:100%;height:100px;"></textarea>
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<div id="new-diagram-dialog" title="Create New Diagram">
    <form>
        <fieldset>
            <label for="title">Title</label>
            <input type="text" name="title" id="new-diagram-title" class="text ui-widget-content ui-corner-all">
            <label for="project">Project</label>
            <input type="text" name="project" id="new-diagram-project" class="text ui-widget-content ui-corner-all" disabled="disabled">
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<script>
    var dala_env = dala_env || {};
    dala_env.initial_templates = {{{json initial_templates }}};
</script>