<defs>
    <marker id="trianglefill_{diagramId}" viewBox="0 0 10 10" refX="10" refY="5" markerUnits="strokeWidth" markerWidth="10" markerHeight="10" orient="auto">
        <path d="M 0 0 L 10 5 L 0 10 z"/>
    </marker>

    <marker id="trianglefill_s_{diagramId}" viewBox="0 0 10 10" refX="0" refY="5" markerUnits="strokeWidth" markerWidth="10" markerHeight="10" orient="auto">
        <path d="M 0 5 L 10 0 L 10 10 z"/>
    </marker>

    <marker id="triangle_{diagramId}" viewBox="0 0 10 10" refX="10" refY="5" markerUnits="strokeWidth" markerWidth="10" markerHeight="10" orient="auto">
        <path d="M 0 0 L 10 5 L 0 10 z" style="stroke:black;stroke-width:1;fill:white;" />
    </marker>

    <marker id="triangle_s_{diagramId}" viewBox="0 0 10 10" refX="0" refY="5" markerUnits="strokeWidth" markerWidth="10" markerHeight="10" orient="auto">
        <path d="M 0 5 L 10 0 L 10 10 z" style="stroke:black;stroke-width:1;fill:white;" />
    </marker>

    <marker id="arrow_{diagramId}" viewBox="0 0 10 10" refX="10" refY="5" markerUnits="strokeWidth" markerWidth="10" markerHeight="10" orient="auto">
        <path d="M 0 0 L 10 5 L 0 10" style="stroke:black;stroke-width:1;fill:none;" />
    </marker>

    <marker id="arrow_s_{diagramId}" viewBox="0 0 10 10" refX="0" refY="5" markerUnits="strokeWidth" markerWidth="10" markerHeight="10" orient="auto">
        <path d="M 10 0 L 0 5 L 10 10" style="stroke:black;stroke-width:1;fill:none;" />
    </marker>

    <marker id="aggr_s_{diagramId}" viewBox="0 0 20 10" refX="0" refY="5" markerUnits="strokeWidth" markerWidth="20" markerHeight="10" orient="auto">
        <path d="M 0 5 L 10 0 L 20 5 L 10 10 z" style="stroke:black;stroke-width:1;fill:white;"/>
    </marker>

    <marker id="aggr_{diagramId}" viewBox="0 0 20 10" refX="20" refY="5" markerUnits="strokeWidth" markerWidth="20" markerHeight="10" orient="auto">
        <path d="M 0 5 L 10 0 L 20 5 L 10 10 z" style="stroke:black;stroke-width:1;fill:white;"/>
    </marker>

    <marker id="comp_s_{diagramId}" viewBox="0 0 20 10" refX="0" refY="5" markerUnits="strokeWidth" markerWidth="20" markerHeight="10" orient="auto">
        <path d="M 0 5 L 10 0 L 20 5 L 10 10 z" style="stroke:none;stroke-width:1;fill:black;"/>
    </marker>

    <marker id="comp_{diagramId}" viewBox="0 0 20 10" refX="20" refY="5" markerUnits="strokeWidth" markerWidth="20" markerHeight="10" orient="auto">
        <path d="M 0 5 L 10 0 L 20 5 L 10 10 z" style="stroke:none;stroke-width:1;fill:black;"/>
    </marker>

    <pattern id="test-pattern" patternUnits="userSpaceOnUse" width="10" height="10">
        <rect width="2" height="2" fill="silver" opacity="0.3"></rect>
    </pattern>
</defs>