 <g>
     <rect id="body_back_{node_id}" height="100" width="150" style="fill:{fill};stroke:{stroke};stroke-dasharray:{stroke-dasharray};stroke-width:{stroke-width}"/>
     <text id="head_t_{node_id}" font-family="Helvetica" font-size="11" text-anchor="start" y="25" dominant-baseline="hanging">
         <tspan id="head_span_{node_id}" dominant-baseline="inherit">&lt;&lt;component&gt;&gt;</tspan>
     </text>
     <text id="title_t_{node_id}" font-family="Helvetica" font-size="11" text-anchor="start" y="40" dominant-baseline="hanging">
         <tspan id="title_span_{node_id}" dominant-baseline="inherit">{title}</tspan>
     </text>
     <g id="icon_{node_id}" transform="translate(120 5)">
         <rect height="23" width="15" x="6" style="fill:{color_main};stroke:{color_second};stroke-width:1"/>
         <rect height="6" width="16" y="3" style="fill:{color_main};stroke:{color_second};stroke-width:1"/>
         <rect height="6" width="16" y="13" style="fill:{color_main};stroke:{color_second};stroke-width:1"/>
     </g>
 </g>