<g>
    <g>
        <rect width="30" height="20" rx="2" style="fill:{color_main};stroke:black;stroke-width:1;"/>
        <rect id="body_back_{node_id}" width="100" height="60" transform="translate(0 10)" style="fill:{color_main};stroke:black;stroke-width:1px;"/>
        <text id="title_t_{node_id}" font-family="Helvetica" font-size="11" text-anchor="start" y="25" dominant-baseline="hanging">
            <tspan id="title_span_{node_id}" dominant-baseline="inherit">{title}</tspan>
        </text>
    </g>
</g>