<g>
    <g>
        <line id="time_line_area_{node_id}" y2="50" stroke="#000000" stroke-width="6" stroke-opacity="0.0" fill="none"/>
        <line id="time_line_{node_id}" y2="50" stroke="#000000" style="stroke-dasharray:10,10;" fill="none"/>
        <rect id="head_back_{node_id}" width="{init_width}" height="20" rx="2" style="fill:{fill};stroke:{stroke};stroke-dasharray:{stroke-dasharray};stroke-width:{stroke-width}"/>
        <text id="title_t_{node_id}" font-family="Helvetica" font-size="11" text-anchor="start" x="5" y="1">
            <tspan id="title_span_{node_id}" dy="13.0" x="2">{init_title}</tspan>
        </text>
    </g>
</g>
