<g>
    <rect id="node_back_{node_id}" width="{init_width}" height="100" rx="2" style="fill:{color_main};stroke:black;stroke-width:1px;"/>
    <text id="stereotype_t_{node_id}" font-family="Helvetica" font-size="11" text-anchor="start" x="5" y="1">
        <tspan id="stereotype_span_{node_id}" dy="13.0" x="2">&lt;&lt;stereotpye&gt;&gt;</tspan>
    </text>
    <text id="title_t_{node_id}" font-family="Helvetica" font-size="11" text-anchor="start" x="5" y="16">
        <tspan id="title_span_{node_id}" dy="13.0" x="2">{init_title}</tspan>
    </text>
    <g id="attributes_g_{node_id}" transform="translate(0 32)">
        <rect id="attributes_back_{node_id}" width="{init_width}" height="15" style="stroke:#000000;fill:{color_second};stroke-width:1;"/>
        <text id="attributes_t_{node_id}" font-family="Helvetica" font-size="11" text-anchor="start">
            <tspan id="attributes_span_{node_id}" dy="11" x="2"></tspan>
        </text>
    </g>
    <g id="methods_g_{node_id}" transform="translate(0 47)">
        <rect id="methods_back_{node_id}" width="{init_width}" height="17" style="stroke:#000000;fill:{color_second};stroke-width:1;"/>
        <text id="methods_t_{node_id}" font-family="Helvetica" font-size="11" text-anchor="start">
            <tspan id="methods_span_{node_id}" dy="11" x="2"></tspan>
        </text>
    </g>
</g>